.bg-image1{
    background-image: url(../img/gallery/gallery1.jpg);
}
.bg-image2{
    background-image: url(../img/gallery/gallery2.jpg);
}
.bg-image3{
    background-image: url(../img/gallery/gallery3.jpg);
}
.bg-image4{
    background-image: url(../img/gallery/gallery4.jpg);
}