/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


.thProductScreen{
  text-align: left;
}
.trProductScren:nth-child(odd){
  background-color: #f0f0f0;
}
.backHome{
  color: red;
}
/* checkout step */
.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
}
.checkout-steps > div.active {
  border-top: 3px red solid;
  color:red;
}

.paymentGroup{
  text-align: center;
}

/* place order */
.placeorder {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
}
.placeorder-info {
  flex: 3 1 60rem;
}
.placeorder-action {
  flex: 1 1 20rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}
.placeorder-info > div {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}
.placeorder-info > div:first-child {
  margin-top: 0;
}
.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}
.placeorder-action > ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.placeorder-action > ul > li:last-child {
  font-size: 2rem;
  font-weight: bold;
  color: #c04000;
}
.placeorder-actions-payment > div {
  width: 100%;
}
.cart-name {
  flex: 8 1;
}

.cart-image {
  flex: 1 1;
}

.cart-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}
.cart-list-container li {
  display: flex;
  justify-content: space-between;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
}
.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


/* Profile */

.profile{
  display: flex;
  flex-wrap: wrap;
}

.profile-info{
  flex: 1 1 30rem;
}